# Node
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Docker
.env.local
.env.*.local

# PHP
*.log
/vendor/
.env

# MySQL
volumen_mysql/

# Compilados
*.pyc
__pycache__/

# Archivos temporales
*.tmp
*.temp
